@charset "UTF-8";

*, :after, :before {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}
/* ============================== include - head =======================================*/
.wrapper{
	width: 100%;
	height: calc(100vh - 72px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    
}

.tabs{
	display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    border-color: #fff;
    flex: 0 0 50%;
    padding-right: 3.125rem;
    
    
}
.tab-title{
	margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.24;
    letter-spacing: normal;
    color: #323232;
    padding-top: 1.75rem;
}
.tab_select {
    border-bottom: 1px solid #e1e1e1;
   
}

.tab_selected {
	border: 0;
    border-bottom: .125rem solid #323232;
    font-weight: 700;
    color: #323232;
}

.tab_select >ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	
	    
}
.tab_select >ul >li > a {
	display: flex;
    padding: .75rem 0;
    color: #737373;
}

.tab_select >ul> :last-child{
	padding-left: 1.25rem;
}

.service-searcher{
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    padding-top: 1rem;
    
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border: 1px solid #00c7ae;
    border-radius: 4px;
}

.input-group >input{
	width: 90%;
	border: none;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 1.25rem;
    height: auto;
    caret-color: #00c7ae;
    color: #323232;	
}
.input-search{
	padding: 0 0.75rem 0 0;
    flex: 1 1 0%;
    display: flex;
}
.input-search > img{
	max-width: 100%;
    height: 20px;
    margin: auto;
    
}


.category{
	display: block;
    padding-top: 1.75rem;
    margin: 0 -.5rem;
    padding-left: 0;
    list-style: none;
}

.category > li{
	display: inline-block;
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 31%;
}

.main_image{
	width: 100%;
    position: relative;
    height: 100%;
    flex: 0 0 50%;
}



#main_img{
	max-width: 30vw;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 3s ease;
}

.user_info{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(103%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 200px;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    z-index: 1;
}
.user_info >h4{
    font-size: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mypage{
    border-bottom: 1px solid #e1e1e1;
    margin-top: 1rem;
    margin-bottom: 1.3125rem;
    padding-bottom: 1.3125rem;
}

.gosu_register{
	font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.logout{
	padding: 0.5rem 0 0.5rem 0;
	margin: 1.3125rem -1.3125rem -1.3125rem;
    background-color: #fafafa;
    text-align: center;
}

.user_info > div>button{
	cursor: pointer;
}

/*============================ main ===============================================*/
.searchBox{
  	position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-12%,-55%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    width: 90%;
    overflow: visible;
    font-size: 12px;
    z-index: 1;
}
.searchBox > div{
	border: 1px solid #e1e1e1;
	padding: 10px;
}
.searchBox > div >h1{
	padding: 0;
}

.searchBox >h2{
	padding: 15px;
	margin-bottom: 30px;
}

.searchbar{
	color: #00c7ae;;
}
/*============================= 회원가입, 로그인 , 계정설정 =============================*/
.loginForm{
    padding: 4rem 0 1rem 0;
   	
}

.regidiv{
	width: 100%;
    max-width: 424px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    padding: 2.5rem;
	text-align: center;
	width: 50%;
	margin: auto;
}
.regidiv >p{
	text-align: left;
	margin: 0 0 7px 5px;
}

.regidiv > input{
	width: 100%; 
	height: 45px;
	padding: .75rem;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    font-size: 13px;
}

.regidiv > input[type=button]{
	background-color: #00c7ae;;
	color: white;
	border: 1px;
	width: 100%;
	height: 51px;
	font-size: 15px;
}

.regidiv > input[type=button]:hover{
	background-color: #46c7b7;
	color: white;

}

.regidiv > p:last-child {
	text-align: center;
    font-size: 0.75em;
    color: #737373;
    margin: 10px 0 0 0;
}


.last_p{
	text-align: center !important;
    font-size: 0.75em;
    color: #737373;
    margin: 10px 0 0 0 !important;	
}
.userInfo_pwdChange{
    position: absolute;
    bottom: 0;
    right: 0;
    transform:translate(-12%,-25%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 80%;
    height: 60%;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    z-index: 1;
}

/*===================== 고수 가입 ======================*/
.Gosu_image{
	height: 24.375rem;
    position: relative;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(50,50,50,.6) 65%),
    					url(../images/GosuRegister.jpg);
    background-size: cover;
    background-position: center 36%;
    padding: 10px;
    
}
.Gosu_contaniner{
	position: absolute;
    bottom: 0;
    right: 0;
    transform:translate(-12%,-40%);
    border: none;
    padding: 1.3125rem;
    width: 80%;
    height: 60%;
    overflow: visible;
    font-size: 12px;
}
 

.Gosu_contaniner >h1{
	font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: normal;
    margin-bottom: 1.25rem;
    text-align: left;
    color: #fff;
}

.Gosu_contaniner >p{
	font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.gosu_register_box{
	display: block;
	border-radius: .625rem;
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    padding: 1.75rem 2.8125rem;
}

.gosu_register_box > h3{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 0.5rem;
    margin: 0;
}	

.gosu_register_category{
    padding-top: 1.75rem;
    margin: 0 -.5rem;
    padding-left: 0;
    list-style: none;
}

.gosu_register_category > li{
	display: inline-block;
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 16%;
}

.gosu_register2_category{
    max-width: 600px;
    margin: 50px auto 123px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}

.gosu_code2{
	color: #4d4d4d;
    background: #fff;
    border-color: #f2f2f2;
    padding: .75rem 1rem;	
    width: 100%;
    background: #fff;
    border: 1px solid #f2f2f2; 
    
}
.code_select{
	cursor: pointer;
	width: 95%;
	margin: 0;
}

.gosu_code2 > input{
	font-size: 16px;
    text-indent: 36px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
}


.gosu_button {
	margin-top: 13px;
	background-color: #00c7ae;;
	color: white;
	border: 1px;
	width: 100%;
	height: 51px;
	font-size: 15px;
	
}

.gosu_button:hover{
	background-color: #46c7b7;
	color: white;

}


.gosu_register{
	width: 80%;
    padding: 18px 0;
    border-bottom: 1px solid #f2f2f2;
    
}

.gosu_register >p {
	margin: 0 0 10px 0;
}

.gosu_register >input{
	border: none;
	width: 100%;
	outline:none;
}

.gosu_register3_buttonbox{
	max-width: 80%;
    border: none;
}